@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700&family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Grechen+Fuemen&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sigmar&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#registerOverlay {
    background-color: #F8FAFC;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

#titleRegister {
    text-align: center;
    width: 636px;
    height: 62px;
    font-weight: 600;
    font-size: 42px;
    margin-bottom: 25px;
}

#registerBox {
    width: 32vw;
    height: 75vh;
    background-color: #FFFFFF;
    border: 1px solid #dadada;
    border-radius: 20px;
    padding: 24px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-shadow: #00000008;
    font-size: 16px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

#inputRegister {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    padding-top: 10px;


}

#inputRegister input {

    height: 60px;
    text-align: center;
    border: 1px solid #E4E4E7;
    border-radius: 9px;
}

/* #registerName{

}

#registerEmail{

}

#registerPassword{

}

#confirmPassword{

} */

#errorRegister {
    color: red;
    font-weight: 400;
    font-size: 10px;
    margin-top: 5px;
    justify-self: start;
}


#registerBtn {
    width: 100%;
    padding: 16px;
    border: 1px solid transparent;
    border-radius: 9px;
    background-color: #0D6EFD;
    color: white;
    margin-top: 15px;
    margin-bottom: 10px;
    cursor: pointer;
}

#registerBtn:hover {
    background-color: #2b7efb;
}

#confirmAccount {
    font-weight: 400;
    font-size: 12px;
}

#navToLogIn {
    text-decoration: none;
    color: #0D6EFD;
}